.navbar-custom {
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(34, 14, 14);
}

.navbar-custom .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgb(190, 113, 126);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(197, 197, 197)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: antiquewhite;
    border-width: 1px;
}

.nav-link.active {
    color: pink;
}

.nav-item .dropdown-menu a:hover {
    color: white !important;
    background: cadetblue !important;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2320e0e;' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2320e0e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#demo {
    max-width: 800px;
    margin: auto;
}

body {
    background-color: rgb(33, 13, 13);
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 100px) {
    .carousel-caption {
        display: none;
    }
}

.carousel-inner img {
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: auto;
    min-height: 200px;
}

.special-img {
    width: 95%;
    max-width: 190px;
    border-radius: 30% 0 30% 0;
}

.container {
    padding-top: 70px;
    text-align: center;
    max-width: 100%;
}

h1 {
    color: antiquewhite;
    padding-top: 5%;
    margin-bottom: 18px;
    text-align: center;
}

h2 {
    color: antiquewhite;
    margin-bottom: 2%;
}

h3 {
    color: black;
    background: antiquewhite;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 20px;
}

.col-md-8 {
    text-align: left;
}

.col-md-4 {
    text-align: center;
}

.card-group {
    width: 75%;
    margin: auto;
}

.card-img-top {
    max-height: 180px;
    object-fit: cover;
}

.card-img-food {
    max-height: 200px;
    object-fit: cover;
}

.table-container {
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.palaute {
    background-color: cadetblue;
    color: white;
    font-size: 90%;
    margin-top: 2%;
    text-align: left;
}

::placeholder {
    font-style: italic;
    opacity: 1;
}